package {{name}}_case

import (
	"context"
	"{{project_name}}/libs/database/gorm_adapter"
	g "{{project_name}}/libs/database/gateways/{{name}}_gateway"
)

type PaginateFilter struct {
	{{fields_optional}}
}

func (c {{name_capitalized}}Case) Paginate(ctx context.Context, input PaginateFilter, paginate database.PaginateInput) (*g.PaginateOutput, error) {
	return c.gateway.Paginate(g.PaginateFilter{
		{{adapt_input}}
	}, paginate)
}
