package {{name}}_case

import (
	"context"
	g "{{project_name}}/libs/database/gateways/{{name}}_gateway"
)

type PatchFilter struct {
	ID *string
	{{fields_optional}}
}

type PatchValues struct {
	{{fields}}
}

func (c {{name_capitalized}}Case) Patch(ctx context.Context, filter PatchFilter, values PatchValues) (bool, error) {
	return c.gateway.Patch(
		g.PatchFilter{
			ID: filter.ID,
			{{adapt_filter}}
		}, g.PatchValues{
			{{adapt_values}}
		})
}
