package {{name}}_case

import (
	"context"
	g "{{project_name}}/libs/database/gateways/{{name}}_gateway"
)

type ListInput struct {
	{{fields_optional}}
}

func (c {{name_capitalized}}Case) List(ctx context.Context, input ListInput) ([]g.ListOutput, error) {
	return c.gateway.List(g.ListInput{
		{{adapt_input}}
	})
}
