package {{name}}_case

import (
	"context"
	g "{{project_name}}/libs/database/gateways/{{name}}_gateway"
)

func (c {{name_capitalized}}Case) GetByID(ctx context.Context, id string) (*g.GetByIDOutput, error) {
	return c.gateway.GetByID(id)
}
