package {{name}}_gateway

import (
	"{{project_name}}/frameworks/database/gorm_adapter/models"
)

func (g Gorm{{name_capitalized}}GatewayAdapter) Patch(filter PatchFilter, newValues PatchValues) (bool, error) {
	query := g.DB.Conn.Model(&models.{{name_capitalized}}{})

	if filter.ID != nil {
		query = query.Where("id = ?", filter.ID)
	} else {
		{{filters}}
	}

	result := query.Updates(newValues)
	return result.RowsAffected > 0, result.Error
}
