package {{name}}_gateway

import (
	"{{project_name}}/libs/database/gorm_adapter/models"
)

func (g Gorm{{name_capitalized}}GatewayAdapter) GetByID(id string) (*GetByIDOutput, error) {
	output := &models.{{name_capitalized}}{}
	result := g.DB.Conn.Limit(1).Find(output, "id = ?", id)

	if result.Error != nil {
		return nil, result.Error
	}

	if result.RowsAffected == 0 {
		return nil, nil
	}

	adapted := GetByIDOutput{
		{{adapt_output}}
	}

	return &adapted, nil
}