package routes

import (
	"{{project_name}}/libs/http/controllers/{{name}}_controller"

	"github.com/gofiber/fiber/v2"
)

func {{name_capitalized}}(app *fiber.App, c *{{name}}_controller.{{name_capitalized}}Controller) {
	route := app.Group("/{{name}}")
	route.{{http_method}}({{endpoint}}, c.{{method_capitalized}})
}
