package {{name}}_case

import g "{{project_name}}/libs/database/gateways/{{name}}_gateway"

type {{name_capitalized}}Case struct {
	gateway g.{{name_capitalized}}Gateway
}

func New(gateway g.{{name_capitalized}}Gateway) {{name_capitalized}}Case {
	return {{name_capitalized}}Case{gateway}
}
